body {
    background-color: #eee;
    padding-bottom: 16px;
}

.navbar {
    margin-bottom: 24px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.card {
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.07),0 4px 6px -2px rgba(0,0,0,.05);
}

.navbar {
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.07), 0 2px 4px rgba(0,0,0,.05);
}


/*  Table child rows
------------------------------------------------------------------------------*/

.table-child-accordion-btn {
    /* The accordion button. */
    font-size: 16px;
}

.table-child-accordion-btn:disabled:focus,
.table-child-accordion-btn:disabled:hover {
    color: inherit;
}

.table-child-accordion-btn:focus,
.table-child-accordion-btn:hover {
    background-color: transparent;
    box-shadow: none;
    color: #ef5350;
}

.table-child-accordion-icon {
    /* The accordion icon. */
    transition: transform .2s ease-in-out;
}

.table-child-accordion-icon-rotate > .table-child-accordion-icon
{
    transform: rotate(180deg);
}

.table-child-row > td
{
    padding: 0;
}

.table-child-row-content {
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    margin-left: -20px;
    margin-right: -20px;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
}

.table-child-row-column-container {
    padding: 12px;
    width: 100%;
}

.table-child-row-column-header {
    font-size: 16px;
    font-weight: 700;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}