<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="2.1.1" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.1" targetFramework="net472" />
  <package id="Mvc.JQuery.DataTables.Common" version="1.5.56" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net472" />
  <package id="NUnit" version="3.12.0" targetFramework="net472" />
  <package id="Shouldly" version="3.0.2" targetFramework="net472" />
  <package id="System.Linq.Dynamic.Core" version="1.0.7.5" targetFramework="net472" />
</packages>