<div class="card mb-3">
    <div class="card-body">
        <h3 class="card-title">Basic table</h3>
        <div id="basic-demo-table-container"></div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h3 class="card-title">Child row table</h3>
        <div id="child-row-demo-table-container"></div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h3 class="card-title">Export table</h3>
        <div id="export-demo-table-container"></div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/datatable-service")
    @Scripts.Render("~/bundles/demo-scripts")
}