@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC datatables demo</h1>
    <p class="lead">This is a demo of the MVC datatables.</p>
    <p>@Html.ActionLink("Demo", "Demo", "Home", null, new { @class = "btn btn-outline-secondary" })</p>
</div>